.benefit{
  &__item{
    width: 270px;
    height: 101px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  &__text{
    color: $font-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  &__list{
    display: flex;
    gap: 30px;
  }
  &__list-icon{
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
}

.about__title{
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}