.container{
  width: 100vw;
  margin: 0 auto;
  padding: 0 15px;
}

.list{
  list-style: none;
}

.img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.current{
  color: $primary-color;
  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -32px;
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    border-bottom: solid $primary-color;
  }
}

.primary-button:hover{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.pvportfolio{
  padding-top: 106px;
  padding-bottom: 82px;
}

.p-0{
  padding: 0;
}