$primary-color:  rgba(33, 150, 243, 1);
$general-color: rgba(33, 33, 33, 1);
$bg-color: rgba(47, 48, 58, 0.4);
$font-color: rgba(117, 117, 117, 1);
$detail-color: rgba(255, 255, 255, 1);
$detail-icon: rgba(175, 177, 184, 1);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);